# For Docker
POSTGRES_DB=ProjectDB
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_in_production

# Drizzle
DATABASE_URL=postgres://postgres:change_me_in_production@localhost:5432/ProjectDB

#Better Auth
BETTER_AUTH_SECRET=your-secret-goes-here
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

